SUPERSET_SECRET_KEY=kBvYNu8iPPyj2JZRIWknFV61Co8UOvaMcSQYhL/7t6Snj/RtyrUAq7fC
DB_USERNAME=postgres
DB_PASSWORD=postgres
HOST='postgres_zoomcamp'
DB_NAME='breast_cancer'
PORT=5432
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_ADMIN_FIRST_NAME=Admin
SUPERSET_ADMIN_LAST_NAME=User

# Airflow
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${DB_USERNAME}:${DB_PASSWORD}@${HOST}:${PORT}/${DB_NAME}
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key
AIRFLOW__CORE__LOAD_EXAMPLES=False